streamlit
numpy
pandas
scikit-learn
pillow
mne      
nibabel            
pydicom           
torch
torchvision
pydicom
nibabel
# opencv-python
gradio
albumentations
transformers
huggingface-hub
tensorflow
google-generativeai
opencv-python-headless
python-dotenv
requests
scikit-image
# libgl1-mesa-glx