streamlit
numpy
pandas
scikit-learn
pillow
mne
nibabel
pydicom
torch
torchvision
#opencv-python
gradio
transformers
huggingface-hub
tensorflow
albumentations
google-generativeai
opencv-python-headless
python-dotenv
scikit-image
huggingface_hub
safetensors
#libgl1-mesa-glxtorch
